@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #a7a4a4;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

canvas {
  margin: 0 auto;
}

.hero-image {
  margin: 0 auto;
  max-width: 100%;
  object-fit: cover;
  width: auto;
  height: 22rem;

  @media screen and (min-width: 767px) {
    height: 25rem;
  }

  @media screen and (min-width: 1440px) {
    height: 28rem;
  }
}
